h1,h2,h2,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9em;
}
header{
    background: grey;
    padding: 0 0 0.3em 0;
    margin: 0 0 2em 0;
    border-bottom: 1px solid grey;
    box-shadow: 0px 2px 10px black;
}
section{min-height: 700px;}

footer{
    background: grey;
    border-top: 1px solid grey;
    margin: 2em 0 0 0;
    text-align: center;
    padding: 20px 0;
}
.conteneur{
    max-width: 100%;
    margin: 0 auto;
    border: 1px;
}
.clear{
    clear: both;
}

/*||||||||||HEADER||||||||||*/

.haut-gauche{
    float: left;
    width: 70%;
}
.haut-droite{
    float: right;
    width: 25%;
    height: 75px;
    padding-right: 2%;
}
nav{
    margin: 0;
    text-align: center;
}
.haut-gauche   h1{
    color: #000000;
    font-size: 1.7em;
    margin: 10px 0 0 55px;
    text-shadow: 1px 1px 1px;
}
.haut-gauche   h2{
    margin: 5px 0 0 0;
    font-size: 1.1em;
    letter-spacing: 3px;
}
.haut-gauche   h2   span{
    color: #8daab7;
}
.haut-droite    a{
    color: #8daab7;
    display: block;
    text-align: right;
}
.haut-droite    a:first-child{
    margin: 10px 0 0 0;
}
.haut-droite   a:hover{
    text-decoration: underline;
}
nav li {  
    display: inline;  
    list-style: none;  
}  
nav   a{
    display:inline-block;  
    line-height: 30px;
    color: #000000;
    padding: 0 5%;
}
nav   a:hover{
    color: #000000;
    background: #ff0000;
    border-radius: 10px;
    transition: padding .1s;
}

/*||||||||||SECTION||||||||||*/

